@import '../styles/mixins';
@import '../styles/variables';

.moviepage {
  width: 100vw;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  padding-top: 4rem;
  overflow: hidden;

  &_content {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(20, 20, 20, 0.212) 50%,
      rgba(27, 27, 27, 0.75) 100%
    );
    margin: 0 auto;
    backdrop-filter: blur(2px);
  }

  &_content_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }

  &_img_wrapper {
    height: 90%;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &_img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
  }

  &_trailer_btn {
    width: 70%;
    height: 4rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #feb821;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      background-color: #e5a418;
    }
  }

  &_details_wrapper {
    height: 90%;
    flex: 0 1 100%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
    padding-right: 2rem;

    & * {
      direction: rtl;
    }
  }

  &_point_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &_details {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & * {
      font-weight: normal;
    }
  }

  &_description {
    width: 100%;
    height: fit-content;

    & p {
      font-weight: normal;
    }
  }

  &_detail {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
  }

  &_svg_container {
    @include flexCenter;
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
  }
}
