.movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &_cover_image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
  }

  &_cover_skeleton {
    width: 100%;
    height: 100% !important;
    border-radius: 10px;
    overflow: hidden;
  }

  &_details_container {
    width: 90%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_details_name,
  &_details_point {
    color: white;
    font-size: small;
    direction: ltr;
  }
  &_details_name {
    max-width: 6rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
  }
}
